html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* Deleted vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  height: 100%;
}
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.row {
margin-right: 0;
margin-left: 0;
}
.hide {
  display: none;
}
.backdroppic {
  background-image: url("pics/serpia.jpg");
  background-repeat: no-repeat;
  background-position:top;
  text-align: center;
  width: 100%;
  background-size: cover;
	height: 100vh;
  top: 0;
}
div.backdroppic .fa-arrow-circle-down {
  font-size: 100px;
  color: yellow;
  opacity: .3;
  position: absolute;
	bottom: 50px;
	right: 200px;
	transition: .3s;
}

div.backdroppic .fa-arrow-circle-down:hover{
	opacity: 1;
	transition: .3s;
}
div.about .fa-arrow-circle-down {
  font-size: 100px;
  color: yellow;
  opacity: .3;
  position: absolute;
	bottom: 50px;
	right: 200px;
	transition: .3s;
}

div.about .fa-arrow-circle-down:hover{
	opacity: 1;
	transition: .3s;
}
div.skills .fa-arrow-circle-down {
  font-size: 100px;
  color: rgba(162,139,97,1);
  opacity: .3;
  position: absolute;
	bottom: 50px;
	right: 200px;
	transition: .3s;
}

div.skills .fa-arrow-circle-down:hover{
	opacity: 1;
	transition: .3s;
}
div.portfolio .fa-arrow-circle-down {
	  font-size: 100px;
	  color: yellow;;
	  opacity: .3;
	  position: absolute;
		bottom: 50px;
		right: 200px;
		transition: .3s;
	}

div.portfolio .fa-arrow-circle-down:hover{
	opacity: 1;
	transition: .3s;
}

.navbar {
  position: fixed;
  background: rgba(162,139,97,.7);
  top: 0;
  left: 0;
  right:0;
  padding: 20px;
  z-index: 99;
  border-radius: 0;
	box-shadow: 5px 2px 10px;

}


ul {
    text-align:right;
}

li {
  text-decoration: none;
  font-family: 'Special Elite', cursive, serif;
  font-size: 1.2em;
  display: inline-block;

}

li a {

  padding: 20px;
	color: white;
	opacity: .7;
}

li a:hover {
  text-decoration: none;
  border: 2px solid yellow;
  border-radius: 5px;
  color: yellow;
	opacity: 1;

}

li a:focus {
  text-decoration: none;
  color: yellow;
}

#nav .current a {
  color: yellow;
	opacity: 1;
}

.about {
  background-color: #564130;
  color: white;
  text-align: center;
}
.about h2 {
	font-family: 'Special Elite', cursive, serif;
	font-size: 40px;
  color: #F1F7ED;;
}

.about p {
  padding: 20px 150px;
  line-height: 30px;
  font-size: 20px;
  color: #F1F7ED;
  font-family: 'Quattrocento Sans', sans-serif;
}

.about p:nth-of-type(4) {

  padding-bottom: 250px;

}

.skills {
  text-align: center;
  background-color: #f2e9d2;


}
.skills h2 {
	color: black;
  font-family: 'Special Elite', cursive, serif;
  font-size: 40px;
}

.skills p {
  padding: 20px 150px;
  line-height: 30px;
  font-size: 20px;
  color: black;
  font-family: 'Quattrocento Sans', sans-serif;
  padding-bottom: 550px;
  font-size: 40px;
}


.grill {
	width: 350px;
	height: 250px;
}
.portfolio {
  text-align: center;
  background-color: #564130;;




}
.portfolio h2 {
	color: #F1F7ED;
  font-family: 'Special Elite', cursive, serif;
  font-size: 40px;
}

.portfolio p {
  padding: 20px 150px;
  line-height: 30px;
  font-size: 20px;
  color: #F1F7ED;
  font-family: 'Quattrocento Sans', sans-serif;
  padding-bottom: 550px;
  font-size: 40px;
}

.contact p {
  padding: 20px 150px;
  line-height: 30px;
  font-size: 20px;
  color: black;
  font-family: 'Quattrocento Sans', sans-serif;
}

.contact {
  text-align: center;
  background-color: #f2e9d2;

}

.contact h2 {
  color: black;
  font-family: 'Special Elite', cursive, serif;
  font-size: 40px;

}

.copyright {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: bold;
	padding: 50px;
	background-color: #f2e9d2;
}
.fa-bars {
  display: none;
}

.contact .titlebox {
	position: relative;
	max-width: 400px;
	margin: auto;
	padding: 100px 50px 30px 50px;
}

.skills .titlebox {
	position: relative;
	max-width: 400px;
	margin: auto;
	padding: 100px 50px 75px 50px;
}

.portfolio .titlebox {
	position: relative;
	max-width: 400px;
	margin: auto;
	padding: 100px 50px 120px 50px;
}

.project1 {
	margin-bottom: 60px;
}

.project2 {
	margin-bottom: 60px;
}

.project3 {
	margin-bottom: 200px;
}

.project4 {
	margin-bottom: 200px;
}

.about .titlebox {
	position: relative;
	max-width: 500px;
	margin: auto;
	padding: 100px 50px 75px 50px;
}

.fa-road {
	font-size: 50px;
	color: #FBFEF9;
	position: absolute;
	top: 90px;
	right: 10px;
}

.fa-tasks {
	font-size: 40px;
	color: black;
	position: absolute;
	top: 100px;
	right: 60px;
}

.fa-folder-open {
	font-size: 40px;
	color: #F1F7ED;
	position: absolute;
	top: 95px;
	right: 30px;
}

.fa-compress {
	font-size: 60px;
	color: black;
	position: absolute;
	top: 85px;
	right: 10px;
}

.contacticons {

	position: relative;
	max-width: 500px;
	margin: auto;
	padding: 50px 50px 75px 50px;

}

.contacticons .fa {

	font-size: 50px;
}

.contacticons p {
	color: #337ab7;
	padding: 0;
	margin: 0;
}

.contacticons a:hover {
	text-decoration: none;
	color: #23527C;
}

.contacticondivs {
	display: inline-block;
	padding: 0 20px;
	padding-bottom: 10px;

}
@media screen and (max-width: 991px) {

	.project3 {
		margin-bottom: 60px;
	}

}

@media screen and (max-width: 767px) {
  .fa-bars {
    font-size: 40px;
    z-index: 99999;
    position: absolute;
    top: -47px;
    left:10px;
    display:block;
  }
  .navbar {
    margin-bottom: 0;
  }
  .rightnav {
    left: 0;
    position: absolute;
    top:49px;
    width: 100%;
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
  ul {
    text-align: left;
    display: none;
  }

  li {
    display: block;
  }
  a {
    display: block;
    width: 100%;
    background: #f2e9d2;
  }
	.fa-arrow-circle-down {
    display:none;
}
	.fa-folder-open {
		display: none;
	}

	.fa-tasks {
		display: none;
	}

	.fa-road {
		display: none;
	}

	.about p {
  padding: 20px 15px;
  line-height: 30px;
  font-size: 20px;
  color: #F1F7ED;
  font-family: 'Quattrocento Sans', sans-serif;
	}
	.about p:nth-of-type(4) {

  padding-bottom: 200px
	}

	.fa-compress {
	display: none;
	}

	.project3 {
		margin-bottom: 60px;
}
.contacticondivs {
	display: block;

}
.navbar a {
	background: rgba(162,139,97,1);
}
}
